# FRAUD TRANSACTION DETECTION
- Objective: To build a machine learning model to detect potentially fraudulent transactions.
- Data: Credit card transaction data from Kaggle.

### 1. Import required modules

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from datetime import time
from sklearn.model_selection import train_test_split
from random import sample, seed
from sklearn.ensemble import RandomForestClassifier

### 2. Create a few functions for later use

In [2]:
# A function to encode the error messages under
def encode_error(error_message, errors_list):
    if type(error_message)==float:
        return 0
    else:
        code = 0
        for i in errors_list:
            if i in error_message:
                code += 10**(errors_list.index(i))
        return code

In [3]:
# A function to convert data stored as currency into numerical
def strip_dollar_sign(string):
    return float(string.replace('$', ''))

In [4]:
# A function to convert time into minutes (i.e., minutes from midnight). E.g. 01:10 would be 70
def time_to_min(string):
    return 60*int(string[:2]) + int(string[-2:])

### 3. Import raw data

In [5]:
transactions = pd.read_csv('credit_card_transactions-ibm_v2.csv')
print(transactions.shape)
transactions.head()

(24386900, 15)

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [6]:
cards = pd.read_csv('sd254_cards.csv')
print(cards.shape)
cards.head()

(6146, 13)

,User,CARD INDEX,Card Brand,Card Type,Card Number,Expires,CVV,Has Chip,Cards Issued,Credit Limit,Acct Open Date,Year PIN last Changed,Card on Dark Web
0,0,0,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,0,1,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,0,2,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,0,3,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,0,4,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [7]:
users = pd.read_csv('sd254_users.csv')
print(users.shape)
users.head()

(2000, 18)

,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,State,Zipcode,Latitude,Longitude,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards
0,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,CA,91750,34.15,-117.76,$29278,$59696,$127613,787,5
1,Sasha Sadr,53,68,1966,12,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,40.76,-73.74,$37891,$77254,$191349,701,5
2,Saanvi Lee,81,67,1938,11,Female,766 Third Drive,NaN,West Covina,CA,91792,34.02,-117.89,$22681,$33483,$196,698,5
3,Everlee Clark,63,63,1957,1,Female,3 Madison Street,NaN,New York,NY,10069,40.71,-73.99,$163145,$249925,$202328,722,4
4,Kyle Peterson,43,70,1976,9,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,37.76,-122.44,$53797,$109687,$183855,675,1

### 4. Defining variables

In [8]:
X = transactions.drop(columns='Is Fraud?')
y = transactions['Is Fraud?']

### 5. Data pre-processing
#### 5.1 Checking for missing values

In [9]:
print('NUMBER OF UNIQUE ENTRIES')
for col in X.columns:
    print(col, f'{len(X[col].unique()):,}')

NUMBER OF UNIQUE ENTRIES
User 2,000
Card 9
Year 30
Month 12
Day 31
Time 1,440
Amount 98,953
Use Chip 3
Merchant Name 100,343
Merchant City 13,429
Merchant State 224
Zip 27,322
MCC 109
Errors? 24

In [10]:
# Starting with columns with few unique values; that can easily be observed visually
print('UNIQUE ENTRIES')
for col in X.columns:
    if (len(X[col].unique()) < 25):
        print(col, f'{X[col].unique()}')

UNIQUE ENTRIES
Card [0 1 2 3 4 5 6 7 8]
Month [ 9 10 11 12  1  2  3  4  5  6  7  8]
Use Chip ['Swipe Transaction' 'Online Transaction' 'Chip Transaction']
Errors? [nan 'Technical Glitch' 'Insufficient Balance' 'Bad PIN'
 'Bad PIN,Insufficient Balance' 'Bad Expiration'
 'Bad PIN,Technical Glitch' 'Bad Card Number' 'Bad CVV' 'Bad Zipcode'
 'Insufficient Balance,Technical Glitch'
 'Bad Card Number,Insufficient Balance' 'Bad Card Number,Bad CVV'
 'Bad CVV,Insufficient Balance' 'Bad Card Number,Bad Expiration'
 'Bad Expiration,Bad CVV' 'Bad Expiration,Insufficient Balance'
 'Bad Expiration,Technical Glitch'
 'Bad Card Number,Bad Expiration,Technical Glitch'
 'Bad CVV,Technical Glitch' 'Bad Card Number,Technical Glitch'
 'Bad Zipcode,Insufficient Balance' 'Bad Zipcode,Technical Glitch'
 'Bad Card Number,Bad Expiration,Insufficient Balance']

<div class="alert alert-block alert-info">

#### Notes/Observations
- Columns **`Card`**, **`Month`**, and **`User Chip`**, are okay
- Column **`Errors?`** has missing values but this could mean there were no errors for those entries.
    - No further action is needed regarding missing values.
    - We'll encode the error messages later.

In [11]:
# transactions['Errors'] = transactions['Errors?'].apply(lambda x: 'None' if type(x)==float else x)
# transactions.drop(columns='Errors?', inplace=True)
# transactions.head()

- [ ] User
- [x] Card
- [ ] Year
- [x] Month
- [ ] Day
- [ ] Time
- [ ] Amount
- [x] Use Chip
- [ ] Merchant Name
- [ ] Merchant City
- [ ] Merchant State
- [ ] Zip
- [ ] MCC
- [x] Errors?

In [12]:
# Column "User"
assert sum([i>=0 and i<=2000 for i in X['User'].unique()]) == users.shape[0]
# Okay. No further action needed

In [13]:
# Column "Year"
X['Year'].unique()
# Okay. No further action needed

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1999, 2000, 2001,
       1998, 1996, 1997, 1995, 1994, 1991, 1992, 1993], dtype=int64)

In [14]:
# Column "Day"
X['Day'].unique()
# Okay. No further action needed

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [15]:
# Column "Time"
assert sum([type(i)==str for i in X['Time'].unique()]) == len(X['Time'].unique())
# Okay. No further action needed

In [16]:
# Column "Amount"
assert sum([type(i)==str for i in X['Amount'].unique()]) == len(X['Amount'].unique())
# Okay. No further action needed

<div class="alert alert-block alert-info">
    
#### Notes/Observations
- We'll later convert entries in this column **`Amount`** from string into datetime elements.

- [x] User
- [x] Card
- [x] Year
- [x] Month
- [x] Day
- [x] Time
- [x] Amount
- [x] Use Chip
- [ ] Merchant Name
- [ ] Merchant City
- [ ] Merchant State
- [ ] Zip
- [ ] MCC
- [x] Errors?

In [17]:
# Column "Merchant Name"
assert len(X['Merchant Name'].unique()) == sum([type(i)==np.int64 for i in X['Merchant Name'].unique()])
# Okay. No further action needed

In [18]:
# Column "Merchant City"
assert sum([type(i)==str for i in X['Merchant City'].unique()]) == len(X['Merchant City'].unique())
# Okay. No further action needed

In [19]:
# Column "Merchant State"
# assert len(X['Merchant State'].unique()) == sum([type(i)==str for i in X['Merchant State'].unique()])
len(X['Merchant State'].unique()) == sum([type(i)==str for i in X['Merchant State'].unique()])

False

- There seems to be missing values in column **`Merchant State`**. Let's investigate

In [20]:
len(X['Merchant State'][[type(i)!=str for i in X['Merchant State']]])

2720821

- There are 2,720,821 missing state names.
- We fill them in by matching with city names.

In [21]:
X['Merchant City'][[type(i)!=str for i in X['Merchant State']]].unique()

array(['ONLINE'], dtype=object)

- Upon further checking, we realize that all orders that are missing State name are online orders.
- Let's just fill them in with "ONLINE"

In [22]:
X['Merchant_State'] = X['Merchant State'].apply(lambda x: 'ONLINE' if type(x)!=str else x)
X.drop(columns='Merchant State', inplace=True)
assert len(X['Merchant_State'].unique()) == sum([type(i)==str for i in X['Merchant_State'].unique()])
# All good now.

- [x] User
- [x] Card
- [x] Year
- [x] Month
- [x] Day
- [x] Time
- [x] Amount
- [x] Use Chip
- [x] Merchant Name
- [x] Merchant City
- [x] Merchant State
- [ ] Zip
- [ ] MCC
- [x] Errors?

In [23]:
# Column "Zip"
assert len(X['Zip'].unique()) == sum([type(i)==np.float64 for i in X['Zip'].unique()])
# Okay. No further action needed

In [24]:
# Column "MMC"
assert len(X['MCC'].unique()) == sum([type(i)==np.int64 for i in X['MCC'].unique()])
# Okay. No further action needed

In [25]:
# Checking the y variable.
y.unique()
# Okay. No further action needed

array(['No', 'Yes'], dtype=object)

- [x] User
- [x] Card
- [x] Year
- [x] Month
- [x] Day
- [x] Time
- [x] Amount
- [x] Use Chip
- [x] Merchant Name
- [x] Merchant City
- [x] Merchant State
- [x] Zip
- [x] MCC
- [x] Errors?

#### 5.2 Encoding nominal variables

In [26]:
le = LabelEncoder()

In [27]:
# y variable
y_fit = le.fit_transform(y)
print({y_fit[i]:y[i] for i in range(len(y))})
y = y_fit.copy()

{0: 'No', 1: 'Yes'}

- No : 0
- Yes : 1

In [28]:
# Column "Use Chip"
use_chip = le.fit_transform(X['Use Chip'])
print({use_chip[i]:X['Use Chip'][i] for i in range(X.shape[0])})
X['Use_Chip'] = use_chip
X.drop(columns='Use Chip', inplace=True)
X.head()

{2: 'Swipe Transaction', 1: 'Online Transaction', 0: 'Chip Transaction'}

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Zip,MCC,Errors?,Merchant_State,Use_Chip
0,0,0,2002,9,1,06:21,$134.09,3527213246127876953,La Verne,91750.0,5300,NaN,CA,2
1,0,0,2002,9,1,06:42,$38.48,-727612092139916043,Monterey Park,91754.0,5411,NaN,CA,2
2,0,0,2002,9,2,06:22,$120.34,-727612092139916043,Monterey Park,91754.0,5411,NaN,CA,2
3,0,0,2002,9,2,17:45,$128.95,3414527459579106770,Monterey Park,91754.0,5651,NaN,CA,2
4,0,0,2002,9,3,06:23,$104.71,5817218446178736267,La Verne,91750.0,5912,NaN,CA,2

In [29]:
# Column "Errors"
errors = ','.join(X['Errors?'].unique()[1:])
errors = sorted(list(set(errors.split(',')))) # List of all error messages, exclusing nan
X['Error_Code'] = X['Errors?'].apply(encode_error, errors_list=errors)
print(X[['Error_Code', 'Errors?']].drop_duplicates().sort_values(by='Error_Code').reset_index().drop(columns='index'))
X.drop(columns = 'Errors?', inplace=True)
X.head()

    Error_Code                                            Errors?
0            0                                                NaN
1            1                                            Bad CVV
2           10                                    Bad Card Number
3           11                            Bad Card Number,Bad CVV
4          100                                     Bad Expiration
5          101                             Bad Expiration,Bad CVV
6          110                     Bad Card Number,Bad Expiration
7         1000                                            Bad PIN
8        10000                                        Bad Zipcode
9       100000                               Insufficient Balance
10      100001                       Bad CVV,Insufficient Balance
11      100010               Bad Card Number,Insufficient Balance
12      100100                Bad Expiration,Insufficient Balance
13      100110  Bad Card Number,Bad Expiration,Insufficient Ba...
14      101000                       Bad PIN,Insufficient Balance
15      110000                   Bad Zipcode,Insufficient Balance
16     1000000                                   Technical Glitch
17     1000001                           Bad CVV,Technical Glitch
18     1000010                   Bad Card Number,Technical Glitch
19     1000100                    Bad Expiration,Technical Glitch
20     1000110    Bad Card Number,Bad Expiration,Technical Glitch
21     1001000                           Bad PIN,Technical Glitch
22     1010000                       Bad Zipcode,Technical Glitch
23     1100000              Insufficient Balance,Technical Glitch

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Zip,MCC,Merchant_State,Use_Chip,Error_Code
0,0,0,2002,9,1,06:21,$134.09,3527213246127876953,La Verne,91750.0,5300,CA,2,0
1,0,0,2002,9,1,06:42,$38.48,-727612092139916043,Monterey Park,91754.0,5411,CA,2,0
2,0,0,2002,9,2,06:22,$120.34,-727612092139916043,Monterey Park,91754.0,5411,CA,2,0
3,0,0,2002,9,2,17:45,$128.95,3414527459579106770,Monterey Park,91754.0,5651,CA,2,0
4,0,0,2002,9,3,06:23,$104.71,5817218446178736267,La Verne,91750.0,5912,CA,2,0

#### 5.3 Time conversion

In [30]:
'''

# Confirming that all recorded times have length 5, i.e., they're stored in the format "HH:MM".
assert sum([len(i)==5 for i in X['Time'].unique()]) == len(X['Time'].unique())

# The conversion
X['Time_1'] = X['Time'].apply(time.fromisoformat)
X.drop(columns='Time', inplace=True)
X.rename(columns={'Time_1':'Time'}, inplace=True)
X.head()

'''

'\n\n# Confirming that all recorded times have length 5, i.e., they\'re stored in the format "HH:MM".\nassert sum([len(i)==5 for i in X[\'Time\'].unique()]) == len(X[\'Time\'].unique())\n\n# The conversion\nX[\'Time_1\'] = X[\'Time\'].apply(time.fromisoformat)\nX.drop(columns=\'Time\', inplace=True)\nX.rename(columns={\'Time_1\':\'Time\'}, inplace=True)\nX.head()\n\n'

In [31]:
# Confirming that all recorded times have length 5, i.e., they're stored in the format "HH:MM".
assert sum([len(i)==5 for i in X['Time'].unique()]) == len(X['Time'].unique())

# The conversion
X['Time_min'] = X['Time'].apply(time_to_min)
X.drop(columns='Time', inplace=True)
X.head()

,User,Card,Year,Month,Day,Amount,Merchant Name,Merchant City,Zip,MCC,Merchant_State,Use_Chip,Error_Code,Time_min
0,0,0,2002,9,1,$134.09,3527213246127876953,La Verne,91750.0,5300,CA,2,0,381
1,0,0,2002,9,1,$38.48,-727612092139916043,Monterey Park,91754.0,5411,CA,2,0,402
2,0,0,2002,9,2,$120.34,-727612092139916043,Monterey Park,91754.0,5411,CA,2,0,382
3,0,0,2002,9,2,$128.95,3414527459579106770,Monterey Park,91754.0,5651,CA,2,0,1065
4,0,0,2002,9,3,$104.71,5817218446178736267,La Verne,91750.0,5912,CA,2,0,383

#### 5.4 Currency format conversion

In [32]:
X['Amount_$'] = X['Amount'].apply(strip_dollar_sign)
X.drop(columns='Amount', inplace=True)
X.head()

,User,Card,Year,Month,Day,Merchant Name,Merchant City,Zip,MCC,Merchant_State,Use_Chip,Error_Code,Time_min,Amount_$
0,0,0,2002,9,1,3527213246127876953,La Verne,91750.0,5300,CA,2,0,381,134.09
1,0,0,2002,9,1,-727612092139916043,Monterey Park,91754.0,5411,CA,2,0,402,38.48
2,0,0,2002,9,2,-727612092139916043,Monterey Park,91754.0,5411,CA,2,0,382,120.34
3,0,0,2002,9,2,3414527459579106770,Monterey Park,91754.0,5651,CA,2,0,1065,128.95
4,0,0,2002,9,3,5817218446178736267,La Verne,91750.0,5912,CA,2,0,383,104.71

#### 5.5 Add some more variables that I think can contribute to the probability of having a fraudelent transaction
- Whether card has chip. (**`Has Chip`** from `cards` dataset)
- The number of cards that have ever been issued under the same card number. (**`Cards Issued`** from `cards` dataset)
- Whether the card is on the dark web (**`Card on Dark Web`** from `cards` dataset)
- Whether the transaction is taking place out outside the owner's state of residence. (compare **`State`** from `users` dataset that in the transactions dataset).

In [33]:
cards.head()

,User,CARD INDEX,Card Brand,Card Type,Card Number,Expires,CVV,Has Chip,Cards Issued,Credit Limit,Acct Open Date,Year PIN last Changed,Card on Dark Web
0,0,0,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,0,1,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,0,2,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,0,3,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,0,4,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [34]:
print('Primary Key for CARDS dataset:')
[col for col in cards.columns if len(cards[col].unique())==cards.shape[0]]

Primary Key for CARDS dataset:

['Card Number']

In [35]:
users.head()

,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,State,Zipcode,Latitude,Longitude,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards
0,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,CA,91750,34.15,-117.76,$29278,$59696,$127613,787,5
1,Sasha Sadr,53,68,1966,12,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,40.76,-73.74,$37891,$77254,$191349,701,5
2,Saanvi Lee,81,67,1938,11,Female,766 Third Drive,NaN,West Covina,CA,91792,34.02,-117.89,$22681,$33483,$196,698,5
3,Everlee Clark,63,63,1957,1,Female,3 Madison Street,NaN,New York,NY,10069,40.71,-73.99,$163145,$249925,$202328,722,4
4,Kyle Peterson,43,70,1976,9,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,37.76,-122.44,$53797,$109687,$183855,675,1

In [36]:
print('Primary Key for USERS dataset:')
[col for col in users.columns if len(users[col].unique())==users.shape[0]]

Primary Key for USERS dataset:

[]

- Just realized it's not gonna be possible to add the extra variables because there are no primary keys in `cards` and `users` that match a column in the transaction data.
- Proceed to trim `X` so as to have only the required features.

In [37]:
X.drop(columns=['Merchant City', 'Merchant_State'], inplace=True)
X.head()

,User,Card,Year,Month,Day,Merchant Name,Zip,MCC,Use_Chip,Error_Code,Time_min,Amount_$
0,0,0,2002,9,1,3527213246127876953,91750.0,5300,2,0,381,134.09
1,0,0,2002,9,1,-727612092139916043,91754.0,5411,2,0,402,38.48
2,0,0,2002,9,2,-727612092139916043,91754.0,5411,2,0,382,120.34
3,0,0,2002,9,2,3414527459579106770,91754.0,5651,2,0,1065,128.95
4,0,0,2002,9,3,5817218446178736267,91750.0,5912,2,0,383,104.71

### 6. Train-test split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(17070830, 12) (7316070, 12) (17070830,) (7316070,)

### 7. Handling imbalanced classes

In [39]:
print(f'Fraudulent :{sum(y==1)/len(y):.2%} \nNot Fraudulent :{sum(y==0)/len(y):.2%}')

Fraudulent :0.12%
Not Fraudulent :99.88%

In [40]:
print(f'Train Set:\nFraudulent:{sum(y_train==1):,}\nNot Fraudulent:{sum(y_train==0):,}')

Train Set:
Fraudulent:20,848
Not Fraudulent:17,049,982

<div class="alert alert-block alert-info">

### Notes
- Sample about 21,000 of non-fraudulent transactions and combine these with the 20,848 fraudulent ones.
- Repeat 5 times with different non-fraudulent samples, but combined with the same fraudulent set.
- Select the best performing model tested against the full training and test sets.

In [41]:
# Get the sample row numbers/indeces
X_fraud = X_train[y_train==1]
X_non_fraud = X_train[y_train==0]
X_indices = X_non_fraud.index.tolist()
for i in range(5):
    seed(i+1)
    globals()['sample%s'%(i+1)] = sample(X_indices, k=21000)

sample1

[10094879,
 9721988,
 2028951,
 14948479,
 11001830,
 4536676,
 3255707,
 21543611,
 806416,
 4334374,
 4961889,
 9387124,
 17496705,
 4926503,
 12949129,
 17534719,
 12252014,
 4546370,
 8174456,
 4956772,
 11210244,
 16105594,
 8376381,
 15165518,
 16011068,
 9826806,
 21849483,
 9023451,
 3993737,
 18714993,
 624824,
 11802501,
 4112213,
 2954387,
 13725450,
 8970329,
 21457117,
 24085573,
 3180991,
 16393358,
 21794956,
 21899135,
 23958775,
 12146324,
 19530966,
 8280028,
 15744645,
 6028625,
 10822242,
 16462360,
 6503700,
 16733087,
 3952891,
 14050984,
 4059682,
 16270559,
 20371686,
 3871735,
 11146614,
 12095797,
 21048398,
 11771868,
 9995240,
 23328843,
 4266943,
 6334828,
 1299878,
 19587871,
 10441624,
 6807453,
 22443005,
 10710448,
 15532439,
 19405084,
 19858411,
 13806295,
 13900002,
 17426396,
 9076247,
 10218299,
 11337652,
 5996128,
 10795086,
 16152408,
 18043526,
 18552543,
 10452699,
 13110007,
 9364905,
 17851191,
 13344356,
 21283990,
 11715711,
 18984783,
 4442259,
 3093911,
 20034906,
 8724346,
 2647440,
 12330893,
 22227768,
 7879068,
 590470,
 10294660,
 12735193,
 11476935,
 10473803,
 9290277,
 13047990,
 14981955,
 4652525,
 749933,
 22390376,
 7369893,
 22449471,
 24304731,
 9244524,
 2280385,
 12586870,
 4370523,
 12762114,
 10585282,
 12151071,
 2668545,
 2069151,
 14850838,
 20212587,
 21218689,
 17527209,
 11883677,
 7525910,
 12102891,
 14255305,
 9943690,
 23818188,
 234322,
 18375348,
 11114518,
 4216791,
 15055162,
 11939355,
 5939149,
 15014496,
 16669322,
 19322470,
 12400290,
 14584138,
 7622726,
 12163384,
 3755455,
 4514656,
 14653721,
 9939345,
 10685628,
 16693781,
 16923976,
 9083642,
 18769557,
 18248745,
 20332184,
 1976277,
 13108720,
 6299302,
 9877227,
 13342354,
 19679828,
 6418548,
 21404083,
 21602300,
 20880290,
 7391687,
 3262861,
 22007900,
 3025838,
 18804510,
 165295,
 2483854,
 9718028,
 15006979,
 2390719,
 3685673,
 13113338,
 2672124,
 9853813,
 11014569,
 12795204,
 9485064,
 18632882,
 6878870,
 4765198,
 19427048,
 19658797,
 5922326,
 1513666,
 22524593,
 5007188,
 13711756,
 14853037,
 12369071,
 10817690,
 3346520,
 8832918,
 17558690,
 24036275,
 16673089,
 14621258,
 13332682,
 17493714,
 3574230,
 18584223,
 14476402,
 2686684,
 17921429,
 17828419,
 22368902,
 8287843,
 17328229,
 4369165,
 18751124,
 20185373,
 7149504,
 21200426,
 23849153,
 5610286,
 134501,
 12910552,
 4084818,
 3299730,
 13387351,
 133765,
 12588227,
 13627794,
 17627377,
 16129716,
 6516174,
 7561410,
 17027070,
 22383891,
 16689668,
 4366087,
 22146237,
 8377807,
 7852013,
 16167372,
 18247032,
 19104472,
 1524571,
 17341472,
 20009207,
 7621788,
 3085619,
 16185537,
 16405104,
 3447928,
 14247050,
 24111136,
 7398169,
 12762692,
 4789033,
 22579191,
 7209853,
 171953,
 21760660,
 20865001,
 8176807,
 14748714,
 12761098,
 20662765,
 11399402,
 21221303,
 21708066,
 8014032,
 15215391,
 19700548,
 23030836,
 11837444,
 22006631,
 16350398,
 140341,
 3944876,
 15851802,
 13908003,
 11246337,
 16286066,
 18340341,
 3581559,
 23603793,
 18706741,
 21166166,
 21509801,
 19377863,
 11090690,
 4856044,
 4174379,
 22391833,
 2612492,
 13852554,
 18251535,
 1388950,
 3529709,
 16101081,
 6118127,
 15044209,
 20903439,
 15821250,
 17200996,
 10497956,
 5609791,
 13648916,
 7862559,
 14452813,
 21181101,
 7458966,
 4126652,
 22538019,
 21998131,
 19954526,
 16981162,
 13578193,
 10594972,
 23892551,
 14970766,
 11831999,
 15406901,
 12933466,
 1817637,
 15853399,
 15976362,
 4003383,
 8122520,
 18208074,
 22727624,
 21498172,
 17530224,
 18056050,
 4748903,
 8896569,
 20562946,
 4821240,
 5229789,
 22061719,
 1147641,
 8080788,
 8385127,
 15949615,
 3601577,
 1563105,
 18847075,
 7697807,
 55271,
 21644579,
 17975815,
 10647422,
 14490791,
 15025770,
 22128004,
 22434800,
 16903947,
 16244534,
 20210553,
 7556753,
 5246534,
 22744492,
 9847596,
 7810568,
 3000710,
 21967091,
 18231712,
 9869373,
 9106968,
 17083532,
 14862136,
 19237686,
 1686864,
 15073911,
 19552440,
 15425755,
 23386167,
 9419227,
 8924150,
 3059183,
 9527928,
 14771887,
 14543670,
 17162608,
 5923280,
 22659407,
 596725,
 22278576,
 12031813,
 13438813,
 15068473,
 9970708,
 24218485,
 6233438,
 14109507,
 19844414,
 4336468,
 8155148,
 13334822,
 14826326,
 21672517,
 4795074,
 13458376,
 6243274,
 680690,
 7825148,
 13349167,
 21881175,
 11777171,
 20448918,
 12084497,
 10847057,
 11108222,
 3487037,
 2359404,
 14633122,
 6360753,
 15870696,
 357257,
 2575027,
 2412791,
 1647313,
 15857150,
 3577705,
 1688955,
 8757552,
 6404725,
 4259139,
 2680254,
 11038667,
 14108609,
 11713808,
 15757554,
 12428365,
 16591854,
 22651990,
 10450515,
 23701400,
 10737303,
 15543530,
 23414887,
 13813696,
 8886135,
 1124155,
 14259910,
 21735498,
 13203904,
 9241808,
 21395731,
 17105435,
 11507551,
 3600585,
 4319419,
 10852699,
 1389890,
 16458186,
 20149187,
 2257145,
 20133651,
 8750825,
 8469223,
 14914226,
 18401439,
 19461485,
 14372526,
 8056506,
 22208413,
 9221578,
 5351670,
 17462996,
 23214884,
 23180540,
 16146050,
 13396276,
 13294527,
 9350857,
 9949215,
 8824515,
 6156998,
 5577369,
 3709411,
 14040477,
 1349180,
 8283051,
 1416631,
 22302649,
 9082616,
 22607499,
 15600061,
 4445096,
 785283,
 19749336,
 1100570,
 2096001,
 276718,
 20143343,
 2950722,
 15442931,
 21295145,
 21105691,
 22981068,
 2130548,
 2947965,
 10761107,
 14006558,
 13407045,
 10350130,
 18879832,
 21364319,
 5013260,
 20768452,
 11977942,
 15519784,
 8872180,
 15869377,
 7225082,
 10766690,
 822795,
 16112551,
 2426514,
 22554781,
 3835287,
 6169172,
 385516,
 8846985,
 22448952,
 4811504,
 15099382,
 1154731,
 20865934,
 15312985,
 16547178,
 8506582,
 20756536,
 14615848,
 2535576,
 20866329,
 7411826,
 13344917,
 22400177,
 8141292,
 15441442,
 18289950,
 1991247,
 13558945,
 21290628,
 22414917,
 363004,
 3453236,
 22163322,
 16651674,
 17386565,
 21869035,
 5216072,
 10563473,
 9384173,
 9856266,
 20624554,
 23704103,
 558289,
 22740447,
 4409922,
 13490669,
 23991751,
 23068583,
 10201047,
 11210925,
 20389576,
 10464238,
 8648892,
 12809398,
 4765663,
 23178638,
 598239,
 20309990,
 16613293,
 12579814,
 23357347,
 16486017,
 12410184,
 20028266,
 20837788,
 9737194,
 15562444,
 17697077,
 12147873,
 19805203,
 14221943,
 15478129,
 16965079,
 5366126,
 17698956,
 17101088,
 20712299,
 11032032,
 19785195,
 7959034,
 10324268,
 7948628,
 15867527,
 523127,
 16109937,
 16497005,
 12902247,
 7889324,
 5558219,
 6061031,
 13977800,
 14661611,
 18762643,
 12415707,
 7104987,
 17131983,
 7434090,
 9675202,
 11215872,
 18333810,
 19725909,
 2982655,
 22819220,
 17634384,
 7974201,
 13015239,
 24190668,
 8472959,
 16372046,
 10261913,
 10518408,
 8632251,
 7882661,
 15162507,
 9704671,
 11351849,
 3144755,
 18142428,
 5284350,
 21267409,
 956410,
 20805425,
 15309990,
 10771962,
 11508366,
 1273605,
 15485501,
 22436172,
 16438657,
 16105716,
 2546882,
 23962587,
 21174851,
 11246910,
 20496790,
 5612084,
 19086543,
 4897575,
 19142135,
 6086486,
 19072230,
 6064002,
 10173389,
 359112,
 12313697,
 16374208,
 12929699,
 10172734,
 5878425,
 18822591,
 16996871,
 9908689,
 8181523,
 23980971,
 13374183,
 14307615,
 16938062,
 22880144,
 2018256,
 21038528,
 18050310,
 4363539,
 3534468,
 17145620,
 4201021,
 1575037,
 13170331,
 7293679,
 17791211,
 24033099,
 15383208,
 23533062,
 24368587,
 13738044,
 1970413,
 18367095,
 13778928,
 11894283,
 6487723,
 18781729,
 10239022,
 23256768,
 15437040,
 15749186,
 9251344,
 19399603,
 2817451,
 1885760,
 13647992,
 19176670,
 15936041,
 2638118,
 23340154,
 2668391,
 4921121,
 9815242,
 8870636,
 12620725,
 1859510,
 12856520,
 7818897,
 9929532,
 479930,
 12110852,
 15871691,
 14396101,
 1133601,
 16913242,
 13856088,
 19353667,
 5951461,
 10892932,
 23947254,
 15472475,
 2231638,
 6854599,
 20830457,
 7964235,
 20122049,
 649220,
 6130090,
 16297573,
 19986985,
 16998592,
 2124531,
 19505421,
 17925173,
 6126636,
 422601,
 7549016,
 10532703,
 15684385,
 12411406,
 20003381,
 4108938,
 14315806,
 6542069,
 4820300,
 7753367,
 8882419,
 23533408,
 9533762,
 7512134,
 1905782,
 14435074,
 18799750,
 5875202,
 13567601,
 8241599,
 20840022,
 17176662,
 13527248,
 9394502,
 4175932,
 11660572,
 4973707,
 15835808,
 21527166,
 13154545,
 8095648,
 17656318,
 3289151,
 9489275,
 384206,
 14712349,
 14766606,
 20309437,
 14989580,
 11088975,
 23500332,
 5300168,
 20240997,
 7859819,
 10757844,
 753867,
 1066247,
 13093991,
 1403337,
 1231390,
 16597187,
 21478697,
 8507417,
 21367561,
 16662283,
 5952226,
 18641462,
 12604913,
 4917789,
 18527678,
 11135672,
 3961861,
 22904482,
 20900173,
 631929,
 18121365,
 5881843,
 13813542,
 4312523,
 11707126,
 23221511,
 15931233,
 12295838,
 1650878,
 15524421,
 21670593,
 13409504,
 12308449,
 20872903,
 20168428,
 5161412,
 10603925,
 20479614,
 2813160,
 21648936,
 4668300,
 13639043,
 2965493,
 22340774,
 16229508,
 8043567,
 568997,
 15190172,
 7168006,
 4637591,
 22787741,
 23836181,
 6675668,
 16687690,
 834430,
 10126148,
 7145979,
 17925454,
 6520795,
 739401,
 1611279,
 7033658,
 19472092,
 22937714,
 9873692,
 5868690,
 17423483,
 1852612,
 555025,
 21644563,
 9375268,
 2555831,
 19156622,
 3803692,
 10308392,
 20778424,
 21526829,
 7033610,
 8700011,
 10940415,
 15583612,
 1192051,
 3416065,
 823909,
 22661268,
 5730928,
 10894291,
 23770701,
 449250,
 19656111,
 6603395,
 2997575,
 17758132,
 12703648,
 138596,
 5625705,
 22022373,
 21017865,
 12364549,
 23780662,
 24379028,
 13191391,
 15957451,
 16559032,
 23081317,
 20921352,
 5747880,
 8532797,
 11995437,
 9978174,
 6574557,
 857016,
 620477,
 5403313,
 6933496,
 18246764,
 20863246,
 19670950,
 9505747,
 2567864,
 9172335,
 6924048,
 8309714,
 8824988,
 11803521,
 4674259,
 1313123,
 3344307,
 21353138,
 18883241,
 1381338,
 6946044,
 11820890,
 23957474,
 23171541,
 19423048,
 20717046,
 13533308,
 22688452,
 15921979,
 13963621,
 23228568,
 22471431,
 1407281,
 7826276,
 71756,
 9487762,
 22335296,
 17629888,
 17745258,
 13975676,
 16314843,
 24193105,
 12472693,
 18041023,
 7111563,
 20407473,
 18399441,
 6959421,
 18821465,
 10242194,
 16226090,
 2686609,
 12049764,
 11505447,
 425857,
 10793728,
 13501454,
 15838431,
 8121245,
 7138401,
 22828276,
 22897222,
 6014564,
 14212146,
 17392862,
 4067816,
 7029618,
 10863027,
 11114282,
 1273103,
 9112176,
 15785544,
 14150602,
 1645646,
 12121769,
 10019176,
 22567741,
 10935383,
 994838,
 10372230,
 21378301,
 9417462,
 2265984,
 23035976,
 24087177,
 7210958,
 11175126,
 15660660,
 22064792,
 1902279,
 11386322,
 2437407,
 6939866,
 19591363,
 11509680,
 16391717,
 23567255,
 ...]

In [42]:
# Get the non-fraud samples
for i in range(5):
    globals()['X_non_fraud_%s'%(i+1)] = X_train.loc[globals()['sample'+str(i+1)]]

X_non_fraud_1.head()

,User,Card,Year,Month,Day,Merchant Name,Zip,MCC,Use_Chip,Error_Code,Time_min,Amount_$
10094879,849,3,2006,5,24,6061375928776353564,91913.0,4121,2,0,1110,41.10
9721988,820,0,2015,5,20,-4282466774399734331,49548.0,4829,0,0,480,40.00
2028951,166,1,2013,8,9,1799189980464955940,27819.0,5499,2,0,561,37.23
14948479,1225,1,2011,7,22,3812161635890104827,33193.0,4111,2,0,470,142.97
11001830,912,0,2016,12,22,6666504894937430109,20724.0,5499,0,0,1279,1.33

In [43]:
# Combine with X-fraud
for i in range(5):
    globals()['X_train_'+str(i+1)] = pd.concat([globals()['X_non_fraud_'+str(i+1)], X_fraud])

X_train_1.head()

,User,Card,Year,Month,Day,Merchant Name,Zip,MCC,Use_Chip,Error_Code,Time_min,Amount_$
10094879,849,3,2006,5,24,6061375928776353564,91913.0,4121,2,0,1110,41.10
9721988,820,0,2015,5,20,-4282466774399734331,49548.0,4829,0,0,480,40.00
2028951,166,1,2013,8,9,1799189980464955940,27819.0,5499,2,0,561,37.23
14948479,1225,1,2011,7,22,3812161635890104827,33193.0,4111,2,0,470,142.97
11001830,912,0,2016,12,22,6666504894937430109,20724.0,5499,0,0,1279,1.33

In [44]:
# Get the corresponding y_train sets
for i in range(5):
    globals()['y_train_'+str(i+1)] = y[globals()['X_train_'+str(i+1)].index]

y_train_1

array([0, 0, 0, ..., 1, 1, 1])

<div class="alert alert-block alert-success">

### ALL DONE WITH DATA PRE-PROCESSING YEEYYY !!!

### 8. Model training and evaluation

In [45]:
rfc = RandomForestClassifier()
model1 = rfc.fit(X_train_1, y_train_1)
print(f'Train Score:{model1.score(X_train_1, y_train_1):.2%} \nFull Train Score:{model1.score(X_train, y_train):.2%} \nTest Score:{model1.score(X_test, y_test):.2%}')

Train Score:100.00%
Full Train Score:96.26%
Test Score:96.26%

In [46]:
model2 = rfc.fit(X_train_2, y_train_2)
print(f'Train Score:{model2.score(X_train_2, y_train_2):.2%} \nFull Train Score:{model2.score(X_train, y_train):.2%} \nTest Score:{model2.score(X_test, y_test):.2%}')

Train Score:100.00%
Full Train Score:96.31%
Test Score:96.30%

In [47]:
model3 = rfc.fit(X_train_3, y_train_3)
print(f'Train Score:{model3.score(X_train_3, y_train_3):.2%} \nFull Train Score:{model3.score(X_train, y_train):.2%} \nTest Score:{model3.score(X_test, y_test):.2%}')

Train Score:100.00%
Full Train Score:96.34%
Test Score:96.33%

In [48]:
model4 = rfc.fit(X_train_4, y_train_4)
print(f'Train Score:{model4.score(X_train_4, y_train_4):.2%} \nFull Train Score:{model4.score(X_train, y_train):.2%} \nTest Score:{model4.score(X_test, y_test):.2%}')

Train Score:100.00%
Full Train Score:96.29%
Test Score:96.28%

In [49]:
model5 = rfc.fit(X_train_5, y_train_5)
print(f'Train Score:{model5.score(X_train_5, y_train_5):.2%} \nFull Train Score:{model5.score(X_train, y_train):.2%} \nTest Score:{model5.score(X_test, y_test):.2%}')

Train Score:100.00%
Full Train Score:96.44%
Test Score:96.43%

### Conclusion
- Use model5